body {
}

.green {
	background-color: #3C8979;
}

orange {
	color: #f26a29;
}

.my-fixed-item {
    position: fixed;
    min-height: 120px;
    width: 252px;
    text-align: center;
    word-wrap: break-word;
    background-color: aquamarine;
}