<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.conexion" connectionString="Data Source=sql5027.site4now.net;Initial Catalog=DB_A474D1_NutreVida;User Id=DB_A474D1_NutreVida_admin;Password=NutreVida2019;" />
    </connectionStrings>
</configuration>